<div class="panel panel-primary marbottomoo">
    <div class="panel-heading">
        Confirm
    </div>
    <div class="panel-body"> 
        You have unsaved changed!
        Are you sure?
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-default" ng-click="stayonPage()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="leaveThisPage()">Ok</button>
        </div>
    </div>
</div>